    <div class="container mt-4">

  <div class="row">

    @for(product of products; track product.id){

      <div class="col-md-4 mb-4">

        <div class="card h-100 shadow-sm">

          

          <div class="card-body">

            <h5>
              {{ product.title }}
            </h5>

            <p>
              ₹ {{ product.price }}
            </p>

            <p>
              ⭐ {{ product.rating }}
            </p>

          </div>

        </div>

      </div>

    }

  </div>

</div>


@if(isLoading){

<div class="loading-container">

  <div class="spinner-border text-primary spinner-lg"
       role="status">
  </div>

  <p class="loading-text">
    Loading Products...
  </p>

</div>

}	  
	