.loading-container {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spinner-lg {
    width: 4rem;
    height: 4rem;
}

.loading-text {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: #6c757d;
}