.login-wrapper {
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    #4f46e5,
    #3b82f6
  );

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login-card {
  width: 100%;
  max-width: 450px;
  border-radius: 20px;
}

.form-control {
  border-radius: 10px;
}

.btn {
  border-radius: 10px;
  font-weight: 600;
}

.form-control:focus {
  box-shadow: none;
  border-color: #4f46e5;
}